/*Reset styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, #root, .wrapper {
    background-color: var(--bs-light);
    height: 100vh;
}

body {
    overflow-y: scroll;
}

.bg-sidebar {
    background-color: #F2F3F5;
}

.icon-color {
    color: #1e3150;
}

.bg-sidebar-text {
    color: black;
}

.author-page-icon {
    min-width: 160px;
}

.author-page-bio {
    word-break: break-all;
}

.author-icon-image {
    max-height: 232px;
    max-width: 159px;
}

.placeholder-icon-author {
    min-height: 232px;
    min-width: 159px;
    max-height: 232px;
    max-width: 159px;
    background: gray;
}

.menu-list-wrapper {
    border: 1px black solid;
    border-radius: 5px;
}

.menu-list-wrapper-category {
    border-bottom: 1px black solid;
}

.menu-list-wrapper-items {
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.menu-list-wrapper-items-available {
    border-right: 1px black solid;
}

.menu-item {
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    cursor: pointer;
}

.menu-item-selected {
    flex-direction: row-reverse;
}

.menu-item-text {
    width: 100%;
    text-align: center;
}

.menu-item-arrow {
    align-self: center;
}
